/* ____________________ FONTS ____________________ */

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Regular'),
        url('../../fonts/OpenSansRegular.woff2'),
        url('../../fonts/OpenSansRegular.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-SemiBold'),
        url('../../fonts/OpenSansSemiBold.woff2'),
        url('../../fonts/OpenSansSemiBold.woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Bold'),
        url('../../fonts/OpenSansBold.woff2'),
        url('../../fonts/OpenSansBold.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}